{% extends "home_site/base.html" %}
{% load static %}


{% block content %}


<div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-black text-white rounded-top">
								
        <div class="col-12">
        
          <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Generate newspaper headlines <span class="text-primary text-underline">instantly</span></h1>
          <p class="lead text-center">Powered by AI </p>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
            <a href="" class="btn site-button btn-lg px-4 my-10">Create now</a>
          </div>
        </div>
    </div>
 

    

</div>




{% endblock content %}